Repository ssg-240304-java2/JD-InfinityIterators, pull requests merged in 2024-04, with the labels that each got.

#3 #2 Set view-codespace
  .gitignore
  src/main/java/view/IMenuStrategy.java
  src/main/java/view/LoginMenu.java
  src/main/java/view/MenuContext.java
  src/main/java/view/admin/AdminMenu.java
  src/main/java/view/customer/CustomerMenu.java
Labels: ui

#8 #7 update account
  .idea/.gitignore
  .idea/.name
  .idea/gradle.xml
  .idea/misc.xml
  .idea/vcs.xml
  src/main/java/Account/UserDTO.java
Labels: enhancement

#13 회원가입 뷰 루틴 업데이트
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/gradle.xml
  .idea/misc.xml
  .idea/vcs.xml
  build.gradle
  makefile
  src/main/java/com/infinityiterators/view/AccountMainMenu.java
  src/main/java/com/infinityiterators/view/LoginMenu.java
  src/main/java/com/infinityiterators/view/interaction/Interaction.java
Labels: ui, global_menu

#20 Modify console formatter module for global menu area and construct administrator submenu frame
  src/main/java/com/infinityiterators/view/AccountMainMenu.java
  src/main/java/com/infinityiterators/view/admin/AdminMenu.java
  src/main/java/com/infinityiterators/view/admin/account/AdminAccountMenu.java
  src/main/java/com/infinityiterators/view/admin/order/AdminOrderMenu.java
  src/main/java/com/infinityiterators/view/admin/product/AdminProductMenu.java
  src/main/java/com/infinityiterators/view/interaction/DisplayType.java
  src/main/java/com/infinityiterators/view/interaction/Interaction.java
Labels: enhancement, ui, admin_menu, arch

#21 update view api
  src/main/java/com/infinityiterators/EntryPoint.java
  src/main/java/com/infinityiterators/view/AccountMainMenu.java
  src/main/java/com/infinityiterators/view/admin/AdminMenu.java
  src/main/java/com/infinityiterators/view/admin/account/AdminAccountMenu.java
  src/main/java/com/infinityiterators/view/admin/order/AdminOrderMenu.java
  src/main/java/com/infinityiterators/view/admin/product/AdminProductMenu.java
  src/main/java/com/infinityiterators/view/interaction/Interaction.java
Labels: enhancement, ui

#31 Added: customer menu functionality and add product, order, and account management
  src/main/java/com/infinityiterators/view/customer/CustomerMenu.java
  src/main/java/com/infinityiterators/view/customer/account/CustomerAccountMenu.java
  src/main/java/com/infinityiterators/view/customer/order/CustomerOrderMenu.java
  src/main/java/com/infinityiterators/view/customer/product/CustomerProductMenu.java
Labels: enhancement, ui, customer_menu, account, sub-tasks

#37 Added basic methods
  src/main/java/com/infinityiterators/view/customer/CustomerMenu.java
  src/main/java/com/infinityiterators/view/customer/account/CustomerAccountMenu.java
  src/main/java/com/infinityiterators/view/customer/cart/AddCartMenu.java
  src/main/java/com/infinityiterators/view/customer/cart/BuyMenu.java
  src/main/java/com/infinityiterators/view/customer/cart/CartMenu.java
  src/main/java/com/infinityiterators/view/customer/order/CustomerOrderedItemsMenu.java
  src/main/java/com/infinityiterators/view/customer/order/CustomerProductOrderMenu.java
Labels: ui, fix, customer_menu, sub-tasks, order

#39 update view
  build.sh
  src/main/java/com/infinityiterators/EntryPoint.java
  src/main/java/com/infinityiterators/view/AccountMainMenu.java
  src/main/java/com/infinityiterators/view/admin/account/AdminAccountMenu.java
  src/main/java/com/infinityiterators/view/admin/product/AdminProductMenu.java
  src/main/java/com/infinityiterators/view/interaction/Interaction.java
Labels: ui, fix

#43 #41 #42 feat : add signup and login
  src/main/java/com/infinityiterators/Account/LoginManager.java
  src/main/java/com/infinityiterators/Account/SignupManager.java
  src/main/java/com/infinityiterators/Account/UserDTO.java
  src/main/java/com/infinityiterators/view/LoginInput.java
  src/main/java/com/infinityiterators/view/SignupInput.java
Labels: enhancement, account

#48 update logo ascii art section
  src/main/java/com/infinityiterators/view/AccountMainMenu.java
Labels: ui

#49 refactor(Order): re-assign module structure
  src/main/java/com/infinityiterators/order/OrderController.java
  src/main/java/com/infinityiterators/order/OrderDto.java
  src/main/java/com/infinityiterators/order/OrderRepository.java
  src/main/java/com/infinityiterators/order/OrderService.java
Labels: need to fix, fix

#47 고객 주문 관련 메뉴 기본 구조 구현
  src/main/java/com/infinityiterators/view/customer/CustomerMenu.java
  src/main/java/com/infinityiterators/view/customer/account/CustomerAccountMenu.java
  src/main/java/com/infinityiterators/view/customer/cart/AddCartMenu.java
  src/main/java/com/infinityiterators/view/customer/cart/CartMenu.java
  src/main/java/com/infinityiterators/view/customer/order/CustomerOrderedItemsMenu.java
  src/main/java/com/infinityiterators/view/customer/order/CustomerProductOrderMenu.java
Labels: ui, customer_menu, sub-tasks, product, order
